/* general stylesheet for generic parts of front page */

body
{
	margin: 0px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background: #F1F1F1;
}

a
{
	text-decoration: none;
	color: #000000;
}

input, button, select
{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

select
{
	padding: 9px;
	margin: 0px;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* Slider switch */

.switch
{
	position: relative;
	display: inline-block;
	width: 40px;
	height: 26px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	border-radius: 26px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	border-radius: 50%;
}

.switch input:checked + .slider {
	background-color: #2196F3;
}

.switch input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(14px);
	-moz-transform: translateX(14px);
	-o-transition: translateX(14px);
	transform: translateX(14px);
}

/*
 * Top Header
*/
#header
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	background: #d61543;
	color: #ffffff;
}

#header > ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#header > ul > li
{
	display: inline-block;
	text-align: center;
	float: left;
}

#header > ul input
{
	visibility: hidden;
	display: none;
}

#header > ul label
{
	cursor: pointer;
	line-height: 70px;
	height: 70px;
	display: block;
	padding: 0px 15px;
}

#header > ul input:checked + label
{
	background: #ef1c4e;
}


/*
 * Main container: everything below header
*/
#wrapper
{
	position: absolute;
	top: 70px; /* add room for header above it */
	bottom: 0px;
	width: 100%;
	height: auto;
}
.container
{
	display: none; /* start off all containers invisible */
}

/* make first container default visible */
#wrapper > .container {
	display: block;
}


/*
 * Taskbar for tools on left side
*/
#taskbar_toggle
{
	display: none;
	visibility: hidden;
}

#taskbar .taskbar_img_bg
{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px;
}

#taskbar #taskbar_toggle_button
{
	background-image: url("../../images/white/menu.png");
}

/*
 * Mechanism for toggling menu wide or narrow view
*/
#taskbar_toggle:checked ~ #taskbar_outer > #taskbar
{
	width: 250px;
}

#taskbar_toggle:checked ~ #taskbar_outer #taskbar_toggle_button
{
	/* Change menu image to a cross to close */
	background-image: url("../../images/white/cross.png");
}

#taskbar
{
	border-right: 2px solid #565656;
}

#taskbar,
#taskbar_menus
{
	position: absolute;
	left: 0px;
	width: 60px;
	overflow: hidden;
	background: #32363a;
	height: 100%;
	-webkit-transition: width 0.1s ease-out;
	-moz-transition: width 0.1s ease-out;
	-o-transition: width 0.1s ease-out;
	transition: width 0.1s ease-out;
	z-index: 1000;
}

#taskbar > #taskbar_inner
{
	width: 250px;
}

#taskbar section
{
	border-bottom: 1px solid #565656;
}

#taskbar .taskbar_button
{
	cursor: pointer;
}

#taskbar .taskbar_button,
#taskbar_menus .taskbar_placeholder,
#taskbar_menus .taskbar_menu
{
	display: block;
	color: #ffffff;
	height: 60px;
	line-height: 60px;
	position: relative;
}

/* make buttons highlight on hover */
#taskbar .taskbar_button:hover,
#taskbar .taskbar_button.no_hover #taskbar_toggle_button:hover
{
	background-color: #44494f;
}

/* make items that have no_hover tag not highlight on hover */
#taskbar .taskbar_button.no_hover
{
	background: none;
	cursor: default;
}


#taskbar .taskbar_button span
{
	display: inline-block;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

#taskbar .taskbar_button span + label
{
	line-height: 60px;
	display: inline-block;
	float: right;
	width: 180px;
	cursor: pointer;
}

/* menus that go along with taskbar buttons */
#taskbar_menus
{
	background: none;
	left: 60px;
	width: 0px;
	overflow: visible;
}

#taskbar_menus .taskbar_placeholder
{
	width: 0px;
}

#taskbar_menus .taskbar_menu
{
	background: green;
	display: block;
	background: #32363a;
	width: 0pxx;
	border-left-width: 0px;
}

#taskbar_menus input[type='text']
{
	padding: 8px;
}

#taskbar_menus button
{
	border: none;
	background-color: transparent;
	background-image: url("../../images/white/right.png");
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: center;
	padding: 18px;
	margin: 0px;
	vertical-align: middle;
	cursor: pointer;
}

#taskbar_menus button:hover
{
	background-position: center left;
}

#taskbar_add
{
	background-image: url("../../images/white/plus.png");
}

#taskbar_menus .taskbar_menu
{
	display: none;
	overflow: hidden;
}

#add_class_menu
{
	width: 360px;
}

#add_class_menu *
{
	margin-right: 10px;
}

#add_class_menu select
{
	width: 120px;
}