body
{
	margin: 0px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background: #F5F5F5;
}


/*
 * Top Header
*/
#header
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	background: #d61543;
	color: #ffffff;
}

#header > ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#header > ul > li
{
	display: inline-block;
	text-align: center;
}

#header > ul input
{
	visibility: hidden;
	display: none;
}

#header > ul label
{
	cursor: pointer;
	line-height: 70px;
	height: 70px;
	display: block;
	padding: 0px 15px;
}

#header > ul input:checked + label
{
	background: #ef1c4e;
}


/*
 * Main container: everything below header
*/
#container
{
	position: absolute;
	top: 70px; /* add room for header above it */
	bottom: 0px;
	width: 100%;
	height: auto;
}

/*
 * Taskbar for tools on left side
*/
#taskbar_toggle
{
	display: none;
	visibility: hidden;
}

#taskbar #taskbar_toggle_button
{
	background-image: url("../../images/white/menu.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px;
}

/*
 * Mechanism for toggling menu wide or narrow view
*/
#taskbar_toggle:checked ~ #taskbar
{
	width: 250px;
}

#taskbar_toggle:checked ~ #taskbar #taskbar_toggle_button
{
	/* Change menu image to a cross to close */
	background-image: url("../../images/white/cross.png");
}

#taskbar
{
	position: absolute;
	left: 0px;
	width: 60px;
	overflow: hidden;
	background: #32363a;
	height: 100%;
}

#taskbar > #taskbar_inner
{
	width: 250px;
}

#taskbar section
{
	border-bottom: 1px solid #565656;
}

#taskbar .taskbar_button
{
	display: block;
	color: #ffffff;
	height: 60px;
	line-height: 60px;
}

/* make buttons highlight on hover */
#taskbar .taskbar_button:hover,
#taskbar .taskbar_button.no_hover #taskbar_toggle_button:hover
{
	background-color: #44494f;
}

/* make items that have no_hover tag not highlight on hover */
#taskbar .taskbar_button.no_hover
{
	background: none;
}


#taskbar .taskbar_button span
{
	display: inline-block;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

#inner_container
{
	padding-left: 60px;
}